


@media (min-width: 980px) and (max-width: 1319px)
{
    .container {
        width: 960px;
    }

    .mybutton {
        height: 25px;
        width: 145px;
        font-size: 12px;
    }

    .logo {
        width: 55px;
        height: 55px;
    }

    .menu_links > a {
        margin-left: 20px;
        margin-right: 20px;
        font-size: 12px;
    }

    .central_frame {
        height: 500px;
    }

    .central_frame > h1 {
        font-size: 58px;
        padding-top: 42px;
    }

    .central_frame > div > p {
        font-size: 22px;
    }


    h2 {
        padding-top: 48px;
        font-size: 28px;
    }


    .second_frame_content {
        height: 850px;
    }
    .seans1 {
        height: 286px;
        left: 52px;
        width: 856px;
        background-repeat: no-repeat;
        background-size: cover;

    }
    .seans2 {
        top: 310px;
        left: 52px;
    }

    .seans3 {
        top: 310px;
        right: 52px;
    }

    .seans4 {
        left: 52px;
    }

    .seans5 {
        right: 52px;
    }

    .seans1 > p {
        padding-top: 202px;
        padding-left: 40px;
        text-align: left;
        font-size: 22px;
    }

    .second_frame_title {
        height: 170px;
    }


    .seans > p {
        font-size: 22px;
    }


    .about_frame > div.container {
        width: 100%;
    }

    .about_frame > div > div {
        padding-left: 20px;
        padding-right: 20px;
    }

}











@media (min-width: 660px) and (max-width: 979px)
{

 .telegram {
    display: block;
 }

 .container {
    width: 640px;
 }

 .menu_links {
    display: none;
 }

 .mybutton {
    display: none;
 }

 .burger {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 30px;
 }

 .logo {
    width: 50px;
    height: 50px;
    margin-left: 30px;
 }

 .menu {
    height: 100px;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    background: #162831;
    z-index: 9999;
 }

 .central_frame {
    margin-top: 100px;
    height: 450px;
    background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ), url(../img/swim.png);
    background-position: right;
    margin-bottom: 60px;
 }

 .mobile_menu {
    display: block;
 }

 .central_frame > h1 {
    font-size: 52px;
    padding-top: 40px;
 }

 .central_frame > div > p {
    font-size: 20px;
 }


 .second_frame > div.container {
    width: calc(100% - 60px);
 }

 h2 {
    padding-top: 48px;
    font-size: 36px;
}


.second_frame_content {
    height: 850px;
}
.seans1 {
    height: 286px;
    left: 0px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;

}
.seans2 {
    top: 310px;
    left: 0;
}

.seans3 {
    top: 310px;
    right: 0;
}

.seans4 {
    left: 0;
}

.seans5 {
    right: 0;
}

.seans1 > p {
    padding-top: 202px;
    padding-left: 40px;
    text-align: left;
    font-size: 22px;
}

.second_frame_title {
    height: 140px;
}


.seans > p {
    font-size: 20px;
    padding-top: 180px;
}

.seans {
    width: calc(50% - 10px);
}


.about_frame > div.container {
    width: calc(100% - 60px);
}


.about_frame_leftblock {
    padding-left: 0 !important;
    padding-right: 0 !important;
    flex-direction: column-reverse;
    margin-top: 0;
    margin-bottom: 72px !important;
}

.about_frame_rightblock {
    padding-left: 0 !important;
    padding-right: 0 !important;
    flex-direction: column;
    margin-bottom: 72px !important;
}

.about_frame_head {
    height: 140px;
}

.second_frame_content {
    margin-bottom: 60px;
}

.about_frame_leftblock_text {
    padding-top: 50px;
    padding-right: 0;
}

.about_frame_rightblock_text {
    padding-top: 50px;
    padding-left: 0;
}

h3 {
    font-size: 23px;
}

.prices_frame_block {
    flex-direction: column-reverse;
}

.prices_frame {
    height: auto;
}

.prices_frame_head {
    margin-bottom: 40px;
    margin-top: 92px;
}

.prices_frame_block_right > p {
    margin-top: 50px;
    text-align: left;
    margin-left: 0px;
}

.prices_frame_block_left {
    margin-right: 0;
    width: 526px;
}

footer > div.container {
    width: calc(100% - 60px);
}

.footer_main_container {
    flex-direction: column;
}

.footer_main_container_left {
    width: 100%;
}

.map {
    width: 100%;
}

.footer_main_container_right {
    margin-left: 0px;
    margin-top: 24px;
}

.footer_main_container_right > div {
    width: 100%;
}

.seans {
    background-repeat: no-repeat;
    background-size: cover;
}

.firstcontainer {
    width: calc(100% - 60px);
}
}


@media (min-width: 500px) and (max-width: 659px)
{


.reviews_slider_head {
    margin-bottom: 0;
}

.about_frame_head {
    margin-top: 40px;
}

/* задати однакову ширину */
.slider_item {
    min-width: 480px !important;
    width: 480px !important;
    max-width: 480px !important;
}

.slider_item_active {

    min-width: 480px !important;
    width: 480px !important;
    max-width: 480px !important;

}

.telegram {
display: block;
}


.container {
    width: 480px;
}


.menu_links {
    display: none;
 }

 .mybutton {
    display: none;
 }

 .burger {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 30px;
 }

 .logo {
    width: 50px;
    height: 50px;
    margin-left: 30px;
 }

 .menu {
    height: 100px;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    background: #162831;
    z-index: 9999;
 }

 .central_frame {
    margin-top: 100px;
    height: 420px;
    background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ), url(../img/swim.png);
    background-position: right;
    margin-bottom: 46px;
 }

 .mobile_menu {
    display: block;
 }

 .central_frame > h1 {
    font-size: 32px;
    padding-top: 24px;
    width: 300px;
    margin-left: calc(50% - 150px);
 }

 .central_frame > div > p {
    font-size: 18px;
 }


 .second_frame > div.container {
    width: calc(100% - 60px);
 }

 h2 {
    padding-top: 48px;
    font-size: 28px;
}


.second_frame_content {
    height: 1414px;
}
.seans1 {
    height: 286px;
    left: 0px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;

}
.seans2 {
    top: 310px;
    left: 0;
}

.seans3 {
    top: 593px;
    right: 0;
}

.seans4 {
    left: 0;
    bottom: 282px;
}

.seans5 {
    right: 0;
}

.seans1 > p {
    padding-top: 212px;
    padding-left: 40px;
    text-align: left;
    font-size: 22px;
}

.second_frame_title {
    height: 140px;
}


.seans > p {
    font-size: 18px;
    padding-top: 190px;
}

.seans {
    width: 100%;
}


.about_frame > div.container {
    width: calc(100% - 60px);
}


.about_frame_leftblock {
    padding-left: 0 !important;
    padding-right: 0 !important;
    flex-direction: column-reverse;
    margin-top: 0;
    margin-bottom: 62px !important;
}

.about_frame_rightblock {
    padding-left: 0 !important;
    padding-right: 0 !important;
    flex-direction: column;
    margin-bottom: 62px !important;
}

.about_frame_head {
    height: 140px;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.second_frame_content {
    margin-bottom: 46px;
}

.about_frame_leftblock_text {
    padding-top: 36px;
    padding-right: 0;
}

.about_frame_rightblock_text {
    padding-top: 36px;
    padding-left: 0;
}

h3 {
    font-size: 23px;
}

.prices_frame_block {
    flex-direction: column-reverse;
}

.prices_frame {
    height: auto;
}

.prices_frame_head {
    margin-bottom: 40px;
    margin-top: 72px;
}

.prices_frame_block_right > p {
    margin-top: 50px;
    text-align: left;
    margin-left: 0px;
}

.prices_frame_block_left {
    margin-right: 0;
    width: 526px;
}

footer > div.container {
    width: calc(100% - 60px);
}

.footer_main_container {
    flex-direction: column;
}

.footer_main_container_left {
    width: 100%;
}

.map {
    width: 100%;
}

.footer_main_container_right {
    margin-left: 0px;
    margin-top: 24px;
}

.footer_main_container_right > div {
    width: 100%;
}

.seans {
    background-repeat: no-repeat;
    background-size: cover;
}

.firstcontainer {
    width: calc(100% - 60px);
}

.central_frame_placeholder > img {
    width: 20px;
    height: 10px;
}


.central_frame > div > p {
    margin: 0 36px 0 36px;
}

.second_frame_title > img {
    width: 24px;
    height: 12px;
}

.second_frame_title > h2 {
    margin-left: 36px;
    margin-right: 36px;
}

.about_frame_head > img {
    width: 24px;
    height: 12px;
}

.about_frame_head > h2 {
    margin-left: 36px;
    margin-right: 36px;
}

.about_frame > div > div > div > h3 {
    margin: 0;
}

.about_frame > div > div > div > p {
    margin-top: 12px;
    margin-bottom: 12px;
}

.prices_frame_block_right {
    width: 100%;
}

.prices_frame_block_left {
    width: 100%;
}

.prices_frame_block_right > img {
    width: 100%;
}

footer {
    margin-top: 60px;
}

.prices_frame_head > h2 {
    margin-left: 36px;
    margin-right: 36px;
}

}



@media (max-width: 499px)
{


.reviews_slider_head {
    margin-bottom: 0;
}

.about_frame_head {
    margin-top: 40px;
}

/* задати однакову ширину */
.slider_item {
    min-width: 320px !important;
    width: 320px !important;
    max-width: 320px !important;
}

.slider_item_active {
    min-width: 320px !important;
    width: 320px !important;
    max-width: 320px !important;

}

.slider_item_title {
    margin: 25px 25px 10px 25px;
    font-size: 18px;
}

.slider_item_text {
    margin: 0 25px 0 25px;
    font-size: 12px;
}

    
.telegram {
display: block;
}

.container {
    width: 320px;
}


.menu_links {
    display: none;
 }

 .mybutton {
    display: none;
 }

 .burger {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 12px;
 }

 .logo {
    width: 50px;
    height: 50px;
    margin-left: 12px;
 }

 .menu {
    height: 86px;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    background: #162831;
    z-index: 9999;
 }

 .central_frame {
    margin-top: 86px;
    /* min-height: 320px;
    max-height: 510px; */
    height: 360px;
    background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ), url(../img/swim.png);
    background-position: right;
    margin-bottom: 36px;
 }

 .central_frame_placeholder {
    padding-top: 120px;
 }

 .mobile_menu {
    display: block;
 }

 .central_frame > h1 {
    font-size: 32px;
    padding-top: 24px;
    width: 300px;
    margin-left: calc(50% - 150px);
 }

 .central_frame > div > p {
    font-size: 18px;
 }


 h2 {
    padding-top: 48px;
    font-size: 28px;
}


.second_frame_content {
    height: 1414px;
}
.seans1 {
    height: 286px;
    left: 0px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;

}
.seans2 {
    top: 310px;
    left: 0;
}

.seans3 {
    top: 593px;
    right: 0;
}

.seans4 {
    left: 0;
    bottom: 282px;
}

.seans5 {
    right: 0;
}

.seans1 > p {
    padding-top: 212px;
    padding-left: 40px;
    text-align: left;
    font-size: 18px;
}

.second_frame_title {
    height: 96px;
}


.seans > p {
    font-size: 18px;
    padding-top: 190px;
    padding-left: 30px;
    padding-right: 30px;
}

.seans {
    width: 100%;
}


.about_frame > div.container {
    width: calc(100% - 24px);
}


.about_frame_leftblock {
    padding-left: 0 !important;
    padding-right: 0 !important;
    flex-direction: column-reverse;
    margin-top: 0;
    margin-bottom: 46px !important;
}

.about_frame_rightblock {
    padding-left: 0 !important;
    padding-right: 0 !important;
    flex-direction: column;
    margin-bottom: 46px !important;
}

.about_frame_head {
    height: 96px;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.second_frame_content {
    margin-bottom: 36px;
}

.about_frame_leftblock_text {
    padding-top: 36px;
    padding-right: 0;
}

.about_frame_rightblock_text {
    padding-top: 36px;
    padding-left: 0;
}

h3 {
    font-size: 23px;
}

.prices_frame_block {
    flex-direction: column-reverse;
}

.prices_frame {
    height: auto;
}

.prices_frame_head {
    margin-bottom: 18px;
    margin-top: 50px;
}

.prices_frame_block_right > p {
    margin-top: 50px;
    text-align: left;
    margin-left: 0px;
}

.prices_frame_block_left {
    margin-right: 0;
    width: 526px;
}

footer > div.container {
    width: calc(100% - 24px);
}

.footer_main_container {
    flex-direction: column;
}

.footer_main_container_left {
    width: 100%;
    height: 450px;
}

.map {
    width: 100%;
}

.footer_main_container_right {
    margin-left: 0px;
    margin-top: 24px;
}

.footer_main_container_right > div {
    width: 100%;
}

.seans {
    background-repeat: no-repeat;
    background-size: cover;
}

.firstcontainer {
    width: calc(100% - 24px);
}

.central_frame_placeholder > img {
    width: 20px;
    height: 10px;
}


.central_frame > div > p {
    margin: 0 20px 0 20px;
}

.second_frame_title > img {
    width: 24px;
    height: 12px;
}

.second_frame_title > h2 {
    margin-left: 20px;
    margin-right: 20px;
}

.about_frame_head > img {
    width: 24px;
    height: 12px;
}

.about_frame_head > h2 {
    margin-left: 20px;
    margin-right: 20px;
}

.about_frame > div > div > div > h3 {
    margin: 0;
}

.about_frame > div > div > div > p {
    margin-top: 12px;
    margin-bottom: 12px;
}

.prices_frame_block_right {
    width: 100%;
}

.prices_frame_block_left {
    width: 100%;
}

.prices_frame_block_right > img {
    width: 100%;
}

footer {
    margin-top: 60px;
}

.prices_frame_head > h2 {
    margin-left: 20px;
    margin-right: 20px;
}

.footer_down_container > p {
    font-size: 12px;
}

.mobile_menu_open {
    top: 86px !important;
}

}

@media (max-width: 659px) {
    .slider_item_text {
        padding-bottom: 20px;
    }

    .slider_item > .slider_item_title {
        font-size: 20px !important;
    }

    .slider_item > .slider_item_text {
        font-size: 14px !important;
        line-height: 20px !important;
    }

    


}